




#UserStore>div:nth-child(1){
    background:url("../img/storeblob1.png");
    background-size:cover;
    background-position:center;

    position: absolute;
    right: 400px;
    width: 700px;
    height: 700px;
}

#UserStore>div:nth-child(2){
    position: relative;
    top: 70px;

}

#UserStore>div:nth-child(2)>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
}
#UserStore>div:nth-child(2)>h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0;
}
#UserStore>div:nth-child(2)>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: #747474;
}
span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 60px;

    color: #0300A7
}
#UserStore>div:nth-child(2)>form{
    margin-top: 10px;
    margin-bottom: 20px;
}
#UserStore>div:nth-child(2)>form>div:nth-child(1){
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
#UserStore>div:nth-child(2)>form>div:nth-child(1)>div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
#UserStore>div:nth-child(2)>form>div:nth-child(1)>div>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;

}
#UserStore>div:nth-child(2)>form>div:nth-child(2)>div>h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;

}

#UserStore>div:nth-child(2)>form>div:nth-child(2){
    display: flex;
    gap: 10px;

}
#UserStore>div:nth-child(2)>form>div:nth-child(2)>div{
   width: 289.837px;

}
#UserStore>div:nth-child(2)>div:nth-child(5){
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-around;
}





/*card Manage start*/
.card>hr{
    margin: 0;
}
.card-body{
    padding: 10px;
}
.card-body>div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}
.card-body>h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0;
}
.card-body>p{
  margin-bottom: 0;
}
.card-body>.btnViewDetail{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    color: blue;
    font-size: 10px;
}
.card-body>div>div>h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    margin: 0;
}
.card-body>div>div>p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    margin: 0;
}
.card-body>button{
    width: 100%;
}

/*card Manage End*/